include ../blocks/blocks 
include ../blocks/libs/_libs

doctype html
html(lang='en')
	include _head
	body
		.wrapper
			+header
			main.page
				block content
				+popupSingIn 
				+popupForgetPass 
				+popupReg 
			+footer
			
